@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main_content {
    background-image: url('../public/backgroundImg.jpg');
    height: 100%;
    min-height: 100vh;
    max-height: 100%;
    padding: 20px 25px;
    background-repeat: no-repeat;
    background-size: cover;
}

.content_head {
    width: 50%;
    min-width: 50vw;
    max-width: 50%;
    margin: auto;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px 0;
    font-family: 'Barlow', sans-serif;
}

.content_body {
    height: 90%;
    min-height: 80vh;
    max-height: 90%;
    width: 95vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.body_input {
    padding: 12px 15px;
    margin: 12px 0;
}

.task_input textarea {
    width: 100%;
    padding: 8px 15px;
    font-size: 25px;
}

.add_btn {
    display: flex;
    padding: 8px 10px;
    justify-content: flex-end;
    font-size: 20px;
    margin-top: 7px;
}

.taskListContainer {
    height: 75vh;
    width: 80%;
    min-width: 60vw;
    max-width: 80%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    padding: 9px 0;
    overflow: auto;
    text-align: justify;
    scroll-behavior: smooth;
    padding: 15px 0;
}

#task_lists {
    width: 95%;
    min-width: 60vw;
    max-width: 95%;
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px 5px;
    justify-content: space-evenly;
}

.task_List {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
    min-width: 15vw;
    max-width: 100%;
}

#cardBody {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

#cardBody span {
    padding: 0 5px;
    font-size: 24px;
    font-weight: lighter;
    font-family: 'Titillium Web', sans-serif;
}

.btnRemove {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    font-weight: bold;
}